examples/q-gate-filter.json
[{"id":"7436b291.289f8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c99236d5.b80278","type":"q-gate","z":"7436b291.289f8c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","filterCmd":"filter","statusCmd":"status","maxQueueLength":"100","keepNewest":false,"qToggle":false,"persist":false,"storeName":"memory","x":750,"y":300,"wires":[["d7392ec1.c36fa"]]},{"id":"15207bda.42304c","type":"inject","z":"7436b291.289f8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"good","payload":"","payloadType":"date","x":440,"y":200,"wires":[["1a2f2e53.55f99a","c99236d5.b80278"]]},{"id":"1a2f2e53.55f99a","type":"debug","z":"7436b291.289f8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"51807c65.1492fc","type":"inject","z":"7436b291.289f8c","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"filter","v":"{\"topic\":\"bad\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"filter","payloadType":"str","x":450,"y":360,"wires":[["c99236d5.b80278"]]},{"id":"a42e91a.711367","type":"inject","z":"7436b291.289f8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bad","payload":"","payloadType":"date","x":440,"y":260,"wires":[["c99236d5.b80278","1a2f2e53.55f99a"]]},{"id":"d7392ec1.c36fa","type":"debug","z":"7436b291.289f8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"f32937b3.284588","type":"inject","z":"7436b291.289f8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":450,"y":440,"wires":[["c99236d5.b80278"]]}]