examples/q-gate-most-recent.json
[{"id":"ce32774c.543838","type":"inject","z":"e5c32195.7ce7b8","name":"open","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["581b2434.ba5174"]]},{"id":"581b2434.ba5174","type":"q-gate","z":"e5c32195.7ce7b8","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"1","keepNewest":false,"qToggle":false,"persist":false,"x":360,"y":260,"wires":[["fa0023c7.c6267"]]},{"id":"fa0023c7.c6267","type":"debug","z":"e5c32195.7ce7b8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":260,"wires":[]},{"id":"a841a4f0.883cb8","type":"inject","z":"e5c32195.7ce7b8","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["581b2434.ba5174"]]},{"id":"78c09c5a.fb8bc4","type":"inject","z":"e5c32195.7ce7b8","name":"trigger","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["581b2434.ba5174"]]},{"id":"9e41b8c9.9b52c8","type":"inject","z":"e5c32195.7ce7b8","name":"flush","topic":"control","payload":"flush","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["581b2434.ba5174"]]},{"id":"fd9e683b.15f82","type":"inject","z":"e5c32195.7ce7b8","name":"queue","topic":"control","payload":"queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["581b2434.ba5174"]]},{"id":"f2778cfa.289d4","type":"inject","z":"e5c32195.7ce7b8","name":"default","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["581b2434.ba5174"]]}]