examples/q-gate-most-recent.json
[{"id":"b02773c1.e266b8","type":"debug","z":"6d60db6b.03942c","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":240,"wires":[]},{"id":"99687dff.3ddd7","type":"q-gate","z":"6d60db6b.03942c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"1","keepNewest":true,"qToggle":false,"persist":false,"x":440,"y":240,"wires":[["b02773c1.e266b8"]]},{"id":"c18d22cc.a63ca","type":"inject","z":"6d60db6b.03942c","name":"open","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[["99687dff.3ddd7"]]},{"id":"f8668471.4f45f8","type":"inject","z":"6d60db6b.03942c","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["99687dff.3ddd7"]]},{"id":"56c10d38.aa25c4","type":"inject","z":"6d60db6b.03942c","name":"trigger","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["99687dff.3ddd7"]]},{"id":"c6fce5f0.0ad3b8","type":"inject","z":"6d60db6b.03942c","name":"flush","topic":"control","payload":"flush","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["99687dff.3ddd7"]]},{"id":"5d45eb15.7a02e4","type":"inject","z":"6d60db6b.03942c","name":"queue","topic":"control","payload":"queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["99687dff.3ddd7"]]},{"id":"8bc7606f.d8fed","type":"inject","z":"6d60db6b.03942c","name":"default","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["99687dff.3ddd7"]]}]